.navigator_ul{
    width: 100%;
    background-color: #006CEE;
    float: left;
    position: fixed;
    margin-top: 0;
    /*font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;*/
    font-family: Helvetica,Helvetica Neue,Luxi Sans,DejaVu Sans,Tahoma,Hiragino Sans GB,STHeiti,Microsoft YaHei;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: left;
}

a{
    text-decoration: none;
}

a:hover {
    background-color: #2F5991;
}

.navigator_elm{
    color: #FFFFFF;
}

.apading{
   margin-left: 30px;
}